#album-info {
  text-align: center;
  margin: 10px auto;
  color: black;
}

#album-cover-art {
  display: block;
  height: 300px;
  width: 300px;
  margin: 5px auto;
}

#album-title {
  margin: 2px;
  font-size: 24px;
}

.artist {
  margin: 2px;
  font-size: 16px;
}

#release-info {
  margin: 1px;
  font-size: 12px;
}

.song-button {
  border: none;
  background-color: Transparent;
  outline: none;
  font-size: 20px;
}

.song {
  font-size: 20px;
}

tr:hover .ion-play {
  display: block;
}

tr:hover .song-number,
tr .ion-play {
  display: none;
}
