.App-header {
  background-color: #543F57;
  text-align: center;
  height: 50px;
}

.App-navlinks {
  color: rgba(225, 50, 114, .9);
  text-shadow: .5px .5px 1px black;
  font-size: 20px;
  margin: 10px;
  text-decoration: none;
  float: right;
}

#logo {
  float: left;
  margin: 4px;
}

#logo-image {
  height: 45px;

}
